*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:#407132;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
font-family: "Inter", sans-serif;
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: top 0.3s;
    z-index: 1000;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 12px 16px; 
    font-size: 22px;
}

.imagem1{
    width: 35%;
   
}

.frutas1{
    width: 32%;
    margin: 95px;
}



.introd-div-conteudo{
    width: 45%;
}

.titulo-introducao{
    padding: 25px 0;
    font-size: 230%;
    color: darkgreen;
    font-family: "Inter", sans-serif;
}
.texto-1{
    padding: 15px 0;
}

.texto-2{
    font-size: 120%;
    font-family: "Montserrat", sans-serif;
}

.fotobanana{
    width: 200px;
    margin: 40px ;
}
.textobanana{
font-size: 20px;
font-family: "Montserrat", sans-serif;
}

.fotomaca{
    width: 200px;
    margin: 40px ;
}
.textomaca{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.fotomorango{
    width: 200px;
    margin: 40px ;
}
.textomorango{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.fotouva{
    width: 200px;
    margin: 40px ;
}
.textouva{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.fotoabacaxi{
    width: 200px;
    margin: 40px ;
}
.textoabacaxi{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}



.texto-3{
    padding: 45px;
    font-size: 230%;
    color: darkgreen;
    font-family: "Inter", sans-serif;
}

.divbanana{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.divmaca{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.divmorango{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.divuva{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.divabacaxi{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.rodape{
    background-color: #407132;
    text-align: right;
    display: grid;
    justify-content: end;
    justify-items: end;
}

.email{
    color:white ;
    font: size 15px; ;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.instagram{
    height: 60px;
    padding: 12px 0;
}

.beneficios2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.benefverduras{
    padding: 45px;
    font-size: 230%;
    color: darkgreen;
    font-family: "Inter", sans-serif;
}

.divalface-crespa{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fotoalface-crespa{
    width: 200px;
    margin: 40px ;
}
.textoalface{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.divbrocolis{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fotobrocolis{
    width: 200px;
    margin: 40px ;
}
.textobrocolis{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.divalhoporo{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fotoalhoporo{
    width: 200px;
    margin: 40px ;
}
.textoalhoporo{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.divrepolho{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fotorepolho{
    width: 200px;
    margin: 40px ;
}
.textorepolho{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.divespinafre{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fotoespinafre{
    width: 200px;
    margin: 40px ;
}
.textoespinafre{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.beneflegumes{
    padding: 45px;
    font-size: 230%;
    color: darkgreen;
    font-family: "Inter", sans-serif;
}

.divcenoura{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fotocenoura{
    width: 200px;
    margin: 40px ;
}

.textocenoura{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.divpimentao{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fotopimentao{
    width: 200px;
    margin: 40px ;
}

.textopimentao{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}


.conteudo {
    margin-top: 80px;
}

@media screen and (min-width: 1024px) {
    .introducao{
        display: flex;
        justify-content: center;
        align-items: center;
    padding: 24px 0 ;
    }

    .beneficios{
        display: flex;
         align-items: flex-start;
         flex-direction: column;
         flex-wrap: nowrap;
         justify-content: center;
     }
     
}